In [1]:
str8 = "Hello my name is William Mattingly"

In [2]:
print (str8)

Hello my name is William Mattingly

In [3]:
print ("Hello")

Hello

In [4]:
str8 = "asdfasdadsfasdf"

In [5]:
print (str8)

asdfasdadsfasdf

In [6]:
print (STR8)

NameError: name 'STR8' is not defined

In [7]:
STR8 = "This is a new string."

In [8]:
print (STR8)

This is a new string.

In [9]:
string1 = "This is some text."

In [11]:
print (string1)

This is some text.

In [12]:
string2 = 'This is another bit of text.'

In [13]:
print (string2)

This is another bit of text.

In [14]:
string3  = """
This is a third kind of string.

"""

In [15]:
print (string3)

This is a third kind of string.

In [17]:
string4 = "This is a bad string"

In [18]:
print (string4)

This is a bad string

In [19]:
int1 = 1

In [20]:
print (int1)

1

In [21]:
float1 = 1.1

In [22]:
print (float1)

1.1

In [23]:
boolean1 = True

In [24]:
print (boolean1)

True

In [25]:
boolean2 = False

In [26]:
print (boolean2)

False

In [30]:
name = "William Mattingly... william mattingly..."

In [28]:
print (name.upper())

WILLIAM MATTINGLY

In [29]:
print (name.lower())

william mattingly

In [31]:
print (name)

William Mattingly... william mattingly...

In [32]:
name2 = "william"

In [33]:
print (name2.capitalize())

William

In [37]:
print (name2.replace("iam"," is not my name."))

will is not my name.

In [38]:
print (name2)

william

In [39]:
name2 = name2.replace("iam", " is not my name.")

In [40]:
print (name2)

will is not my name.

In [41]:
name2 = name2.capitalize()

In [42]:
print (name2)

Will is not my name.

In [43]:
name1 = 'William is my name.'

In [50]:
name3 = name1.replace("William", "Tom")
print (name3)
name3 = name3.lower()
print (name3)
name3 = name3.upper()
print (name3)

Tom is my name.
tom is my name.
TOM IS MY NAME.

In [55]:
name5 = " William Mattingly    "
print (name5)

 William Mattingly

In [56]:
name5

' William Mattingly    '

In [57]:
name5 = name5.strip()
print (name5)

William Mattingly

In [58]:
name5

'William Mattingly'

In [59]:
name5 = name.split()
print (name5)

['William', 'Mattingly...', 'william', 'mattingly...']

In [64]:
name6 = "William James Mattingly"
print (name6.split("i")[0])

W

In [65]:
num1 = 1
num2 = 2

In [66]:
print (num1+num2)

3

In [67]:
print (num1-num2)

-1

In [68]:
print (num1*num2)

2

In [69]:
print (num1%num2)

1

In [70]:
print (num1//num2)

0

In [71]:
print (7*8)

56

In [74]:
print (7//2)

3

In [75]:
print (7%2)

1

In [80]:
list1 = ["one", 1, 1.0, [1, 2, 3]]

In [81]:
print (list1)

['one', 1, 1.0, [1, 2, 3]]

In [82]:
tuple2 = ("one", 1, 1.1)

In [83]:
print (tuple2)

('one', 1, 1.1)

In [84]:
list1.append(500)

In [85]:
print (list1)

['one', 1, 1.0, [1, 2, 3], 500]

In [87]:
tuple2.append(500)

AttributeError: 'tuple' object has no attribute 'append'

In [95]:
set1 = {1, 2, 3, 4, 1.0, "one"}

In [96]:
print (set1)

{1, 2, 3, 4, 'one'}

In [97]:
dict1 = {"hello": "hallo"}
print (dict1)

{'hello': 'hallo'}

In [106]:
dict2 = {"names": ["tina", "jerry", "bob", "marge"], "ages": [20, 22, 23, 24]}

In [99]:
print (dict2)

{'names': ['tina', 'jerry', 'bob', 'marge']}

In [100]:
str8 = "This is a string."

In [103]:
print (str8[1])

h

In [104]:
print (list1[0])

one

In [105]:
print (list1[1])

1

In [112]:
print (dict2["ages"])

[20, 22, 23, 24]

In [113]:
names = ["tom", "marge", "bob", "cindy"]

In [116]:
for name in names:
    name = name.capitalize()
    print (name)

Tom
Marge
Bob
Cindy

In [121]:
x=0
while x != 10:
    print (x)
    x=x+1

0
1
2
3
4
5
6
7
8
9

In [124]:
x=1
if x == 0:
    print ("x is 0")
else:
    print ("x is not 0")

x is not 0

In [125]:
names = ["tom", "bob", "marge", "cindy"]

In [129]:
if "jerry" in names:
    print ("Jerry was found")
else:
    names.append("jerry")

Jerry was found

In [128]:
print (names)

['tom', 'bob', 'marge', 'cindy', 'jerry']

In [138]:
if "bill" in names:
    print ("Bill is in names")
elif "cindy" in names:
    print ("Cindy in names")
elif "suzzy" in names:
    print ("Suzzy in names")
else:
    print ("Neither found.")

Cindy in names

In [133]:
if "bill" not in names:
    print ("Bill is not in names")

Bill is not in names

In [144]:
def multiply_three(x):
    x = x*3
    return x

y = multiply_three(6)

In [145]:
print (x)

1

In [146]:
print (y)

18

In [149]:
def add_two(x, y):
    result =  x+y
    return result

n = add_two(5, 6)
print (n)

11

In [151]:
def add_surname(first_name, last_name="Mattingly"):
    print (first_name, last_name)

add_surname("William", "Smith")

William Smith

In [152]:
def print_names(*names):
    for name in names:
        print (name)

print_names("William", "Marge", "Kyle", "Sally")

William
Marge
Kyle
Sally

In [155]:
class Emperor():
    def __init__(self, name, birth, coronation, death):
        self.name = name
        self.birth = birth
        self.coron = coronation
        self.death = death
    def birth_date(self):
        print (f"{self.name} was born in {self.birth}")

charlemagne = Emperor("Charlemagne", 742, 800, 814)
print (charlemagne)

<__main__.Emperor object at 0x00000261667B7BE0>

In [156]:
print (vars(charlemagne))

{'name': 'Charlemagne', 'birth': 742, 'coron': 800, 'death': 814}

In [157]:
charlemagne.birth_date()

Charlemagne was born in 742

In [158]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\wma22\anaconda3\lib\site-packages (1.1.3)
Requirement already satisfied: numpy>=1.15.4 in c:\users\wma22\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\wma22\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\wma22\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\wma22\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [159]:
!pip install requests

Requirement already satisfied: requests in c:\users\wma22\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\wma22\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\wma22\anaconda3\lib\site-packages (from requests) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\wma22\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\wma22\anaconda3\lib\site-packages (from requests) (3.0.4)

In [161]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\wma22\anaconda3\lib\site-packages (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\wma22\anaconda3\lib\site-packages (from beautifulsoup4) (2.0.1)

In [162]:
import requests

In [163]:
import pandas as pd

In [174]:
with open ("data/sample.txt", "r") as f:
    data = f.read()
    data = data+"\nThis is a fourth line."

In [175]:
with open ("data/sample2.txt", "w") as f:
    f.write(data)

In [176]:
print (dict2)

{'names': ['tina', 'jerry', 'bob', 'marge'], 'ages': [20, 22, 23, 24]}

In [177]:
import json

In [178]:
with open ("data/temp.json", "w") as f:
    json.dump(dict2, f, indent=4)

In [179]:
with open ("data/temp.json", "r") as f:
    temp = json.load(f)

In [180]:
print (temp)

{'names': ['tina', 'jerry', 'bob', 'marge'], 'ages': [20, 22, 23, 24]}

In [181]:
import glob

In [190]:
files = glob.glob("data/*.txt")
print (files)

['data\\sample.txt', 'data\\sample2.txt']

In [191]:
for file in files:
    print (file)
    with open (file, "r") as f:
        data = f.read()
        print (data)

data\sample.txt
This is a sample of a text
This is another line of the same sample text
This is a third line.
data\sample2.txt
This is a sample of a text
This is another line of the same sample text
This is a third line.
This is a fourth line.

In [192]:
files2 = glob.glob("data/*/*.txt")
print (files2)

['data\\other\\sample3.txt', 'data\\other2\\sample4.txt']

In [193]:
import os

In [198]:
walking = os.walk("data/")

In [195]:
print (walking)

<generator object walk at 0x0000026106CD6120>

In [196]:
print (list(walking))

[('data/', ['.ipynb_checkpoints', 'other', 'other2'], ['sample.txt', 'sample2.txt', 'sample_json.json', 'temp.json']), ('data/.ipynb_checkpoints', [], ['sample-checkpoint.txt', 'sample2-checkpoint.txt', 'temp-checkpoint.json']), ('data/other', [], ['sample3.txt']), ('data/other2', [], ['sample4.txt'])]

In [199]:
walking = list(walking)
for item in walking:
    print (item)

('data/', ['.ipynb_checkpoints', 'other', 'other2'], ['sample.txt', 'sample2.txt', 'sample_json.json', 'temp.json'])
('data/.ipynb_checkpoints', [], ['sample-checkpoint.txt', 'sample2-checkpoint.txt', 'temp-checkpoint.json'])
('data/other', [], ['sample3.txt'])
('data/other2', [], ['sample4.txt'])

In [200]:
final_files = []
for item in walking:
    root = item[0]
    files = item[2]
    print ("This is the Root")
    print (root)
    print ("These are the Files")
    print (files)
    print ()
    print ()

This is the Root
data/
These are the Files
['sample.txt', 'sample2.txt', 'sample_json.json', 'temp.json']


This is the Root
data/.ipynb_checkpoints
These are the Files
['sample-checkpoint.txt', 'sample2-checkpoint.txt', 'temp-checkpoint.json']


This is the Root
data/other
These are the Files
['sample3.txt']


This is the Root
data/other2
These are the Files
['sample4.txt']

In [201]:
for item in walking:
    root = item[0]
    files = item[2]
    for file in files:
        if file.endswith(".txt"):
             print(os.path.join(root, file))

data/sample.txt
data/sample2.txt
data/.ipynb_checkpoints\sample-checkpoint.txt
data/.ipynb_checkpoints\sample2-checkpoint.txt
data/other\sample3.txt
data/other2\sample4.txt

In [202]:
import pandas as pd

In [203]:
names_dict = {"names":
        [
            "Tom",
            "Mary",
            "Jeff",
            "Rose",
            "Stephanie",
            "Rodger"
        ]}

In [204]:
print (names_dict["names"])

['Tom', 'Mary', 'Jeff', 'Rose', 'Stephanie', 'Rodger']

In [205]:
df = pd.DataFrame(names_dict)

In [206]:
df

       names
0        Tom
1       Mary
2       Jeff
3       Rose
4  Stephanie
5     Rodger

In [207]:
print (df)

       names
0        Tom
1       Mary
2       Jeff
3       Rose
4  Stephanie
5     Rodger

In [209]:
df.to_csv("data/names.csv", index=False)

In [210]:
df2 = pd.read_csv("data/names.csv")

In [211]:
df2

       names
0        Tom
1       Mary
2       Jeff
3       Rose
4  Stephanie
5     Rodger

In [212]:
df2["ages"] = [20, 26, 20, 18, 52, 40]

In [213]:
df2

       names  ages
0        Tom    20
1       Mary    26
2       Jeff    20
3       Rose    18
4  Stephanie    52
5     Rodger    40

In [214]:
names = df2.names
print (names)

0          Tom
1         Mary
2         Jeff
3         Rose
4    Stephanie
5       Rodger
Name: names, dtype: object

In [215]:
ages = df2.ages
print (ages)

0    20
1    26
2    20
3    18
4    52
5    40
Name: ages, dtype: int64

In [216]:
ages = df2.ages.tolist()
print (ages)

[20, 26, 20, 18, 52, 40]

In [218]:
row1 = df2.iloc[1]
print (row1)

names    Mary
ages       26
Name: 1, dtype: object

In [219]:
import requests
from bs4 import BeautifulSoup

url = "https://en.wikipedia.org/wiki/List_of_French_monarchs"
s = requests.get(url)

soup = BeautifulSoup(s.content)
body = soup.find("div", {"id": "mw-content-text"})
for paragraph in body.find_all("p")[:5]:
    if paragraph.text.strip() != "":
        print (paragraph.text)

The monarchs of the Kingdom of France ruled from the establishment of the Kingdom of the West Franks in 843 until the fall of the Second French Empire in 1870, with several interruptions. Between the period from Charles the Bald  in 843 to Louis XVI in 1792, France had 45 kings. Adding the 3 kings and 2 emperors after the French Revolution, this comes to a total of 50 monarchs of France spread over 1027 years.

Classical French historiography usually regards Clovis I (r. 481–511) as the first king of "France" (in its earliest phase), but technically speaking such kingdom didn't began until the establishment of West Francia.[1][2] In August 843 the Treaty of Verdun divided the Frankish realm into three kingdoms, one of which (Middle Francia) was short-lived; the other two evolved into France (West Francia) and, eventually, Germany (East Francia). By this time, the eastern and western parts of the land had already developed different languages and cultures.

Initially, the kingdom was ruled primarily by two dynasties, the Carolingians and the Robertians, who alternated rule from 843 until 987, when Hugh Capet, the progenitor of the Capetian dynasty, took the throne. The kings use the title "King of the Franks" until the late twelfth century; the first to adopt the title of "King of France" was Philip II (r. 1180–1223). The Capetians ruled continuously from 987 to 1792 and again from 1814 to 1848. The branches of the dynasty which ruled after 1328, however, are generally given the specific branch names of Valois (until 1589), Bourbon (from 1589 until 1792 and from 1814 until 1830), and the Orléans (from 1830 until 1848).

In [220]:
import requests

In [221]:
url = "https://en.wikipedia.org/wiki/List_of_French_monarchs"

In [222]:
s = requests.get(url)

In [223]:
print (s)

<Response [200]>

In [225]:
print (s.content[:500])

b'<!DOCTYPE html>\n<html class="client-nojs" lang="en" dir="ltr">\n<head>\n<meta charset="UTF-8"/>\n<title>List of French monarchs - Wikipedia</title>\n<script>document.documentElement.className="client-js";RLCONF={"wgBreakFrames":false,"wgSeparatorTransformTable":["",""],"wgDigitTransformTable":["",""],"wgDefaultDateFormat":"dmy","wgMonthNames":["","January","February","March","April","May","June","July","August","September","October","November","December"],"wgRequestId":"fc4839e9-67e5-4a83-a76f-cf997'

In [224]:
from bs4 import BeautifulSoup

In [226]:
soup = BeautifulSoup(s.content)

In [228]:
toc = soup.find("div", {"id": "toc"})

In [230]:
print (toc.text)

Contents

1 Titles
2 Carolingian dynasty (843–987)
3 Capetian dynasty (987–1792)

3.1 House of Capet (987–1328)
3.2 House of Valois (1328–1589)
3.3 House of Bourbon (1589–1792)


4 Long 19th-century (1792–1870)

4.1 French First Republic (1792–1804)
4.2 House of Bonaparte, 1st Empire (1804–1814)
4.3 Capetian dynasty (1814–1815)
4.4 House of Bonaparte, Hundred Days (1815)
4.5 Capetian dynasty (1815–1848)

4.5.1 Bourbon Restoration (1815–1830)
4.5.2 House of Orléans, July Monarchy (1830–1848)


4.6 House of Bonaparte, 2nd Empire (1852–1870)


5 Later pretenders
6 Timeline
7 See also
8 Notes

8.1 Coronations


9 References

9.1 Citations
9.2 Sources

In [237]:
first_div = soup.find("div", {"role": "navigation"})
print (first_div.text)

Contents

1 Titles
2 Carolingian dynasty (843–987)
3 Capetian dynasty (987–1792)

3.1 House of Capet (987–1328)
3.2 House of Valois (1328–1589)
3.3 House of Bourbon (1589–1792)


4 Long 19th-century (1792–1870)

4.1 French First Republic (1792–1804)
4.2 House of Bonaparte, 1st Empire (1804–1814)
4.3 Capetian dynasty (1814–1815)
4.4 House of Bonaparte, Hundred Days (1815)
4.5 Capetian dynasty (1815–1848)

4.5.1 Bourbon Restoration (1815–1830)
4.5.2 House of Orléans, July Monarchy (1830–1848)


4.6 House of Bonaparte, 2nd Empire (1852–1870)


5 Later pretenders
6 Timeline
7 See also
8 Notes

8.1 Coronations


9 References

9.1 Citations
9.2 Sources

In [238]:
p_tag = soup.find("p")
print (p_tag.text)

In [239]:
ptags = soup.find_all("p")
print (len(ptags))

23

In [251]:
table_data = []
table = soup.find("table", {"class": "wikitable"})
rows = table.find_all("tr")
for row in rows:
    headers = row.find_all("th")
    for header in headers:
        print (header.text.strip())
    cells = row.find_all("td")
    for cell in cells:
        table_data.append(cell.text.strip())

Portrait
Name
Start
End
Succession / Notes
Title
Ref.

In [252]:
# print (table_data)

In [254]:
df3 = pd.read_html(url)[0]
df3

,Portrait,Name,Start,End,Succession / Notes,Title,Ref.
0,NaN,"Charles II ""the Bald""[b]",c. 10 August 843[c][i],6 October 877,• Son of Louis I and grandson of Charlemagne (...,King of the Franks(840–77)Emperor of the Roman...,[9][10][11][12]
1,NaN,"Louis II ""the Stammerer""[d]",6 October 877[ii],10 April 879,• Son of Charles the Bald,King of the Franks,[10][9][13]
2,NaN,Louis III,10 April 879[iii],5 August 882,• Son of Louis the Stammerer,King of the Franks,[10][14][15]
3,NaN,Carloman II,10 April 879[iv],12 December 884,• Son of Louis the Stammerer,King of the Franks,[10][9][15]
4,NaN,"Charles (III) ""the Fat""[e]",12 December 884[v],13 January 888,• Son of Louis II the German • Cousin once rem...,King of East Francia(871–88)Emperor of the Rom...,[16][17]
5,NaN,Eudes(Robertians),13 January 888[vi],1 January 898,• Son of Robert the Strong • Rivaled by Charle...,King of the Franks,[18][13]
6,NaN,"Charles III""the Simple""",1 January 898[vii],29 June 922,• Posthumous son of Louis II • Deposed,King of the Franks,[10][9]
7,NaN,Robert I(Robertians),29 June 922[viii],15 June 923,• Son of Robert the Strong and younger brother...,King of the Franks,[19][13]
8,NaN,Rudolph(Bosonids),15 June 923[ix],14 January 936,"• Son of Richard, Duke of Burgundy • Son-in-la...",King of the Franks,[10][9]
9,NaN,"Louis IV""d'Outremer""",19 June 936[x],10 September 954,• Son of Charles III the Simple,King of the Franks,[10][9]
10,NaN,Lothair[f],10 September 954[xi],2 March 986,• Son of Louis IV,King of the Franks,[10][20]
11,NaN,"Louis V""the Do-Nothing""",2 March 986[xii],22 May 987,• Son of Lothair,King of the Franks,[21][22]